@model funduq.Models.ContactU;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contact Us";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1>Contact Us</h1>
</div>


@if (Model == null)
{
    <div style="text-align: center;justify-content: center; display: flex;flex-direction: column;align-items: center;height: 40rem;">
        <h3>No Contact Us Created Yet</h3>
        <a asp-action="Create" asp-controller="ContactUs">Create One!</a>
    </div>

}
else
{
<a class="btn btn-primary" asp-action="Edit" asp-controller="ContactUs" asp-route-id="@Model.ContactId">Edit</a> 
<a class="btn btn-danger" asp-action="Delete" asp-controller="ContactUs" asp-route-id="@Model.ContactId">Delete</a>

<section class="section contact" style="margin-top: 40px; display: flex; justify-content: center;">

    

        

            <div class="row">
                <div class="col-lg-6" >
                    <div class="info-box card" style="height: 200px;">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Address</h3>
                        <p>@Model.ContactUsAddress</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box card" style="height: 200px;">
                        <i class="bi bi-telephone"></i>
                        <h3>Call Us</h3>
                        <p>@Model.ContactUsPhoneNumber</p>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="info-box card" style="height: 200px;">
                        <i class="bi bi-envelope"></i>
                        <h3>Email Us</h3>
                        <p>@Model.ContactUsEmail</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box card" style="height: 200px;">
                        <i class="bi bi-clock"></i>
                        <h3>Open Hours</h3>
                        <p>@Model.ContactUsOpenDays<br>@Model.ContactUsOpenHours</p>
                    </div>
                </div>
            </div>

       

        @*<div class="col-xl-6">
                <div class="card p-4">
                    <form action="forms/contact.php" method="post" class="php-email-form">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>

                                <button type="submit">Send Message</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>*@

    

</section>
}