@model IEnumerable<funduq.Models.SpecialEvent>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.HotelId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
