@model funduq.Models.UserProfile;


@*


*@
@{
    ViewBag.Title = "Profile";
}
@{
    
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}


    <div class="pagetitle">
        <h1>@Model.FirstName @Model.LastName Profile</h1>
       
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="@Url.Content("~/AdminImages/"+Model.ProfilePicture)" alt="Profile" style="clip-path: circle()">
                        <h2>@Model.FirstName @Model.LastName</h2>
                        <h3>Admin</h3>
                        
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>  
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">@Model.FirstName @Model.LastName</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">@ViewBag.userEmail</div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Phone Number</div>
                                    <div class="col-lg-9 col-md-8">@Model.PhoneNumber</div>
                                </div>

                                @if (TempData["Alert"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        @TempData["Alert"]
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                }
                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                

                                <!-- Profile Edit Form -->
                                <form asp-action="Index" method="post" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="UserId" />
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="@Url.Content("~/AdminImages/"+Model.ProfilePicture)" alt="Profile">
                                            <div class="pt-2">
                                                <input asp-for="ProfileImage" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label asp-for="FirstName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="FirstName" required class="form-control" value="@Model.FirstName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label asp-for="LastName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="LastName" class="form-control" required value="@Model.LastName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" required class="form-control" id="email" value="@ViewBag.userEmail">
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <label asp-for="PhoneNumber" class="col-md-4 col-lg-3 col-form-label">Phone Number</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="PhoneNumber" required class="form-control" value="@Model.PhoneNumber">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <input type="submit" class="btn btn-primary" value="Save Changes" style="border: none; background-color: #4154f1;width:100%;border-radius:8px" />
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                            

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

