@model IEnumerable<funduq.Models.Hotel>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfStars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFeaturedHotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelCityNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfStars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFeaturedHotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelCityNavigation.CityId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HotelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HotelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HotelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
